<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GameDev Test Task</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="index.js" async></script>
  </head>
  <body>
    <div class="game-body">
      <div class="info-container">
        <div class="info-container__item">
          <div>Number of shapes: </div>
          <div id="shapes-number">0</div>
        </div>
        <div class="info-container__item">
          <div>Shapes surface area: </div>
          <div id="shapes-surface-area">0</div>
        </div>
      </div>
      <div id="app"></div>
      <div class="settings-container">
        <div class="settings-container__item">
          <div>Shapes per sec</div>
          <div class="settings-container__buttons">
            <button id="shapes-increment">+</button>
            <button id="shapes-decrement">-</button>
          </div>
          <span id="shapes-per-second">0</span>
        </div>
        <div class="settings-container__item">
          <div>Gravity value</div>
          <div class="settings-container__buttons">
            <button id="gravity-increment">+</button>
            <button id="gravity-decrement">-</button>
          </div>
          <span id="gravity">0</span>
        </div>
      </div>
    </div>
  </body>
</html>