#app, #app > canvas {
    width: 50vh;
    height: 50vh;
}

.game-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container, .settings-container {
    display: flex;
    flex-direction: row;

    &__item {
        display: flex;
        flex-direction: column;
    }
}